body {
  background-color: #d6edff;
}
body {
  background-color: #d6edff;
  font-family: arial;
  font: 14px;
}
.con-fontawesome {
  width: 800px;
  margin: auto;
}
.con-fontawesome {
  width: 800px;
  margin: auto;
}
